@charset "UTF-8";
.str2 {stroke:black;stroke-width:0.0762;stroke-linejoin:bevel}
.str15 {stroke:lime;stroke-width:0.0762;stroke-linejoin:bevel}
.str26 {stroke:aqua;stroke-width:0.0762;stroke-linejoin:bevel}
.str5 {stroke:yellow;stroke-width:0.0762;stroke-linejoin:bevel}
.str29 {stroke:#e6014e;stroke-width:0.762}
.str6 {stroke:black;stroke-width:0.0762;stroke-linejoin:bevel}
.str27 {stroke:black;stroke-width:0.0762;stroke-dasharray:20.000000 10.000000}
.str8 {stroke:black;stroke-width:0.0762;stroke-dasharray:3.581400 45.034200}
.str9 {stroke:black;stroke-width:0.0762;stroke-dasharray:3.581400 60.883800}
.str10 {stroke:black;stroke-width:0.0762;stroke-dasharray:4.400000 1.600000 3.600000 1.200000 3.200000 1.200000}
.str3 {stroke:black;stroke-width:0.0762;stroke-linejoin:bevel}
.str11 {stroke:blue;stroke-width:0.0762;stroke-linejoin:bevel}
.str13 {stroke:#004C26;stroke-width:0.0762;stroke-linejoin:bevel}
.str21 {stroke:#007FFF;stroke-width:0.0762;stroke-linejoin:bevel}
.str12 {stroke:#009900;stroke-width:0.0762;stroke-linejoin:bevel}
.str19 {stroke:#009900;stroke-width:0.0762;stroke-linejoin:bevel;stroke-dasharray:12.192000 1.066800}
.str14 {stroke:lime;stroke-width:0.0762;stroke-linejoin:bevel}
.str24 {stroke:lime;stroke-width:0.0762;stroke-linejoin:bevel;stroke-dasharray:0.152400 0.076200}
.str20 {stroke:lime;stroke-width:0.0762;stroke-linejoin:bevel;stroke-dasharray:12.192000 1.066800}
.str18 {stroke:aqua;stroke-width:0.0762;stroke-linejoin:bevel}
.str23 {stroke:aqua;stroke-width:0.0762;stroke-linejoin:bevel;stroke-dasharray:7.620000 4.038600}
.str28 {stroke:#66CC66;stroke-width:0.0762;stroke-linejoin:bevel;stroke-dasharray:12.192000 1.066800 0.076200 1.066800}
.str17 {stroke:gray;stroke-width:0.0762;stroke-linejoin:bevel;stroke-dasharray:6.096000 1.524000 0.076200 1.524000}
.str22 {stroke:gray;stroke-width:0.0762;stroke-linejoin:bevel;stroke-dasharray:12.192000 1.066800 0.076200 1.066800}
.str7 {stroke:#CC3300;stroke-width:0.0762;stroke-linejoin:bevel}
.str25 {stroke:#CC6666;stroke-width:0.0762;stroke-linejoin:bevel}
.str1 {stroke:fuchsia;stroke-width:0.0762;stroke-linejoin:bevel}
.str16 {stroke:#FFBF00;stroke-width:0.0762;stroke-linejoin:bevel}
.str0 {stroke:#FFDF7F;stroke-width:0.0762;stroke-linejoin:bevel}
.str4 {stroke:yellow;stroke-width:0.0762;stroke-linejoin:bevel;stroke-dasharray:0.152400 0.076200}
.fil0 {fill:none}
.fil1 {fill:black}
.fil3 {fill:#004C26}
.fil4 {fill:#007F00}
.fil5 {fill:#3FFF00}
.fil6 {fill:#7F6F3F}
.fil2 {fill:black;fill-rule:nonzero}
.fil7 {fill:lime;fill-rule:nonzero}
